/* NAV ****************************************************************************************/
header, .navbar{
    background-color: #353D41;
}

#logo{
    width: 50px;
}

.navbar-brand{
    color: white;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    font-size: medium;
}

.navbar-toggler-icon{
    color: white;
    border: 1px solid white;
}



/* CARROSSEL ****************************************************************************************/
#carouselExampleCaptions{
    width: 100%;
}

#carouselExampleCaptions .carousel-item h2{
    font-size: 45px;
    color: white;
    margin-bottom: 3.5rem;
}


#carouselExampleCaptions .carousel-item p{
    font-size: 18px;
    margin-bottom: 5rem;

}


/* Cards ****************************************************************************************/
.conteudo, .motivos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    margin: 30px;
}


/* Rodapé ****************************************************************************************/
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 30px;
    width: 100%;
    height: 140px;
    background-color: #353D41;

}

.logorodape{
    width: 50px;
    margin-top: 10px;

}

.info{
    padding-top: 20px;
    color: white;
}